html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    background-image: url('../img/bunga1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 30px;
}

.sidebar-satu {
    order: 1;
    width: 150px;
}

.main {
    order: 2;
    flex: 1;
}

.sidebar-dua {
    order: 3;
    width: 150px;
}